body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.star {
  position: relative;
  display: block;
  color: yellow;
  width: 0;
  height: 0;
  border-right: 50px solid transparent;
  border-bottom: 35px solid yellow;
  border-left: 50px solid transparent;
  transform: rotate(35deg);
  margin-bottom: 100px;
}

.star:before {
  border-bottom: 35px solid yellow;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -20px;
  left: -30px;
  display: block;
  content: '';
  transform: rotate(-35deg);
}

.star:after {
  position: absolute;
  display: block;
  color: yellow;
  top: 3px;
  left: -65px;
  width: 0;
  height: 0;
  border-right: 50px solid transparent;
  border-bottom: 35px solid yellow;
  border-left: 50px solid transparent;
  transform: rotate(-70deg);
  content: '';
}
